<div class="container">
	<h1>Portfolio Items</h1>

	<%= link_to "Create new Portfolio", new_portfolio_url %>

	<table class="table">
	  <thead>
	    <tr>
	    	<th>Id</th>
	      <th>Title</th>
	      <th>Subtitle</th>
	      <th>Body</th>
	      <th>Thumb image</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <%= render partial: "portfolio_item", collection: @portfolio_items %>
	  </tbody>
	</table>	
</div>


<br>
